<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{% if site.email_alt %}<label>Humans: </label>{% endif %}<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.email_alt %}<li><label>Recruiters: </label><a href="mailto:{{ site.email_alt }}">{{ site.email_alt }}</a></li>{% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% include social-media-icons.html %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<script>
!function(f,o,r,i,v,a,l){
f.GoogleAnalyticsObject=r;f[r]||(f[r]=function(){(f[r].q=f[r].q||[]).push(
arguments)});f[r].l=+new Date;a=o.createElement(i);l=o.getElementsByTagName(
i)[0];a.src=v;l.parentNode.insertBefore(a,l)}(window,document,'butts',
'script','//www.google-analytics.com/analytics.js');butts('create',
'UA-69544027-1','auto');butts('send','pageview');
</script>
