<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="fold">
      <header>
        {{ content }}
      </header>

      <footer>
        <ul class="links-whoami">
          {% include social-media-icons %}
        </ul>

        <div class="homepage-site-nav">
        <div class="trigger">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
        </div>
      </footer>
    </div>
    <div class="below-the-fold">
      <div class="hr-fancy subfooter"><hr></div>
      <footer class="subfooter">
        <div id="clock" class="clock">
          <div class="clock-face">
            <div id="hour" class="clock-hand-container"><div class="clock-hour"></div></div>
            <div id="minute" class="clock-hand-container"><div class="clock-minute"></div></div>
            <div id="second" class="clock-hand-container"><div class="clock-second"></div></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/homepage.js"></script>
  </body>
</html>
